/* default styling */
* {
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #1a1a1a;
    width: 100%;
    background:#c2a0da;
   

}
button {
    background-color: #4985f9;
    border: 1px solid #4985f9;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    box-shadow: 2px 2px 2px grey;
}
button:hover {
    background-color:#EDBE4A;
    border: 1px solid #EDBE4A;
    cursor: pointer;
    color: black;
}
h1 {
    text-align: center;
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
p {
    text-align: center;
}

header ul {
   display: flex;
   justify-content: space-around;
   align-items:center;
   list-style: none;
   padding-left: 200px;
   padding-right: 200px;
   font-size: 1.5em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
input:hover, label:hover {
    cursor: pointer;
}

/* styling for javascript/jquery pages */
.divbody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 80%;	
}

.sectionslider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    padding: 30px 30px;
    background-color: #EDF8F5;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #6a4485;
}
.sectiontext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 50%;
    padding: 30px 30px;
    background-color: #EDF8F5;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #6a4485;
}

.divslider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.js-quiz-form {
    font-size: 1.3em;
}
.js-quiz-form legend {
    text-align: left;
}

.js-quiz-form ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    text-align: left;
}
.js-quiz-form ul button {
width: 40%;    
}
.js-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.start-quiz, .js-quiz .js-answer, .js-results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* image styles */
#paint-rollers, #wrong-answer, #paint-bucket, #right-answer {
    width: 50%;
    border-radius: 5px;
    
}

#button-start, #button-submit, #paint-bucket {
    margin-top: 2em;

}


.start-quiz h2 {
    text-align: center;
}

.js-answer p {
 font-size: 1.2em;
}
.js-answer h3 {
    margin-bottom: 0;
}

@media only screen and (max-width: 975px){
    .js-quiz, .quiz-result {
        width: 80%;
    }
    header ul {
        font-size: 1.2em;
        padding: 0;
    }
    #paint-rollers, #wrong-answer, #paint-bucket, #right-answer {
        width: 75%;
    }
}

@media only screen and (max-width: 375px) {
    .js-quiz {
        padding: 20px 20px;
        width: 80%;
    }
    .radiogroup {
        padding: 0;
    }

}

/// Height of the slider's handle
/// @type String
$control-height: 40px;
/// Width of the slider's handle
/// @type String
$control-width: 80px;
/// Color of the slider's handle
/// @type Color
$control-color: rgb(94,55,142);
/// Size of the slider handle's text
/// @type String
$control-font-size: 18px;
/// Font Weight of the slider handle's text
/// @type String
$control-font-weight: 100;
/// Color of the slider's "fill" when connected
/// @type Color
$fill-color: darken($control-color, 10%);
/// Height of the slider's gutter
/// @type String
$gutter-height: 16px;


/// noUiSlider Gutter
.noUi-background {
  height: $gutter-height;
  &.noUi-vertical {
    height: 200px;
    width: $gutter-height;
    margin: 0 auto 30px;
  }
}
.noUi-base {
  
  .noUi-connect {
    background-color: $fill-color;
  }
  /// noUiSlider Handle
  .noUi-handle {
    background-color: $control-color;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #FFFFFF;
    display: table;
    font-size: 15px;
    height: $control-height;
    left: 0;
    margin-left: -22px;
    margin-top: -($control-height/2) + $gutter-height/2 - 1;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: $control-width;
    z-index: 2;
    
    .noUi-horizontal & {
      cursor: ew-resize;
    }
    
    .noUi-vertical & {
      cursor: ns-resize;
      margin-left: -($control-width/2) + $gutter-height/2;
    }
    
    &:hover {
      background-color: lighten($control-color, 10%);
    }
    
    &.noUi-active {
      background-color: darken($control-color, 10%);
      z-index: 3;
    }

    &::before {
      background: transparent;
      content: attr(data-value);
      display: table-cell;
      font-size: $control-font-size;
      font-weight: $control-font-weight;
      position: static;
      width: 100%;
      vertical-align: middle;
    }
    &::after {
      display: none;
    }
  }
}

.showcase__mark {
	display: block;
	position: absolute;
	top: 55px;
	background: #2a5;
	transform: rotate(-0deg);
	padding: 1px 3px;
	border-radius: 4px;
	color: #fff;
	margin-left: -10px;
}

#sliderAns.noUi-state-tap .noUi-connect,
#sliderAns.noUi-state-tap .noUi-origin {
    -webkit-transition: transform 1600ms;
    transition: transform 1600ms;
}